<div class="card" style="width: 100%">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6">
        <select #optionsTea (change)="onSelected()" class="form-select-sm">
          <option class="card-title mb-0" *ngFor = "let o of options">{{o.name}}</option>
        </select>
        <!-- <h4 class="card-title mb-0" [textContent]="myChartTitle"></h4> -->
        <div class="small text-muted" [textContent]="myChartInfo"></div>
      </div><!--/.col-->
      <div class="col-sm-5 d-none d-md-block">
        <div class="btn-group btn-group-toggle float-right mr-3" data-toggle="buttons">
          <label class="btn btn-outline-secondary" (click)="create()" [(ngModel)]="myRadioModel" btnRadio="Week" id="option1">Week</label>
          <label class="btn btn-outline-secondary" (click)="create()" [(ngModel)]="myRadioModel" btnRadio="Month" id="option2">Month</label>
          <label class="btn btn-outline-secondary" (click)="create()" [(ngModel)]="myRadioModel" btnRadio="Year" id="option3">Year</label>
        </div>
      </div><!--/.col-->
    </div><!--/.row-->
    <div class="chart-wrapper" style="height:300px;margin-top:40px; width: 100%;">
      <canvas baseChart class="chart"
      [datasets]="myChartData"
      [labels]="myChartLabels"
      [options]="myChartOptions"
      [colors]="myChartColours"
      [legend]="myChartLegend"
      [chartType]="myChartType"></canvas>
    </div>
  </div>
</div>