.widget-browser {
    background-color: white;
    box-shadow: 2px 2px 6px black ;
    padding:  2rem 2rem;

    .scroll-div-container {
        height: 65vh;
        overflow-y: visible;
        .scroll-div {
            overflow-x: hidden;
            max-height: 65vh;
        }
    }
    .close {
        float: right;
        margin-top: -5.3rem;
    }

    .adjust {
        padding-top: 0.5rem;
        margin-bottom: -1rem;
    }

    .btn-ctn {
        padding-bottom: 0rem;

    }
    .add-btn-cnt {
        display: flex;
        justify-content: right;
        margin-bottom: 1.3rem;

        .add-btn {
            position: absolute;
        }
    }
    
    .foot {
        margin-bottom: 2.6rem;
    }

    .stk {
        margin-bottom: 2rem;
    };

}
