
.widget-browser {
    display: none;
    // align-self: right;
    z-index: 2;
    margin-bottom: 2rem;
    max-width: 400px;
}

.this-main {
    display: flex;
    flex-wrap: nowrap;
    router-outlet {
        flex: 0 0 auto;
    }
}
