.popup {
    display: none;
    position: absolute;
    align-self: center;
    z-index: 2;
}

.customPopup {
    position: absolute;
    align-self: center;
    padding-top: 4rem;
    display: none;
    justify-content: left;
    z-index: 2;
}