<div #holding class="card text-white bg-primary" cdkDrag>
    <div #popupDeleteContainer class="popup">
      <app-popup #popupDelete></app-popup>
    </div>
    <div #customPopupContainer class="customPopup">
      <app-customize #customPopup [options]="options" [name]="name" [bgcolor]="bgcolor" [colors]="colors" [type]="type" [pointRadius]="setRadius"></app-customize>
    </div>
    <div #editBtns style="display: none; border-bottom: 1px solid white;">
      <div style="padding: 5px 5px; display: flex; justify-content: left; flex-grow:8;">
        <button (click)="showPopupCustomize()" class="btn btn-light btn-sm"><i class="bi bi-tools"></i> &nbsp;Customize</button>
      </div>
      <div  style="cursor: move; padding: 5px 5px; display: flex; justify-content: left; flex-grow:8;">
        <span cdkDragHandle class="btn-light btn-sm"><i class="bi bi-arrows-move"></i> &nbsp;Drag</span>
      </div>
      <div style="padding: 5px 5px; display: flex; justify-content: right; flex-grow:4;">
        <!-- <button (click)="deleteInstance($event)" class="btn btn-light btn-sm"><i class="bi bi-trash3-fill"></i></button> -->
        <button (click)="showPopupDelete()" class="btn btn-light btn-sm"><i class="bi bi-trash3-fill"></i></button>
      </div>
    </div>
    <div class="card-body pb-0">
      <div class="btn-group float-right" dropdown>
        <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
          <i class="icon-settings"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
          <button (click)="setToLine()" class="dropdown-item">Show line chart</button>
          <button (click)="setToBar()"class="dropdown-item">Show bar chart</button>
        </div>
      </div>
      <div class="text-value">{{name}}</div>
      <div>{{cryptoChartInfo}}</div>
    </div>
    <div class="chart-wrapper mt-3 mx-3" style="height:113px;">
      <canvas baseChart class="chart"
              [datasets]="lineChart1Data"
              [labels]="lineChart1Labels"
              [options]="lineChart1Options"
              [colors]="lineChart1Colours"
              [legend]="lineChart1Legend"
              [chartType]="type"
              ></canvas>
    </div>
</div>