<header class="header">
  <a class="header-brand" href="#">
    <img class="d-inline-block" src="assets/img/brand/logo_textNew.png" style="width: 90px; height: auto;" alt='pear Logo'>
  </a>
</header>
<div *ngIf="temp == 'emailVerified'"class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="clearfix">
          <h1 class="float-left display-3 mr-4">Hi!</h1>
          <h4 class="pt-3">The best is about to become reality.</h4>
          <p class="text-muted">You have successfully completed your registration.</p>
          <p class="text-muted">Click on the button below to go to your brand-new dashboard.</p>
          <button (click)="goToDashboard()" class="button btn btn-outline-primary">My Dashboard</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="temp == 'resetPassword'"class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="clearfix">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-key" viewBox="0 0 16 16">
            <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z"/>
            <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
          </svg>
          <h1 class="float-left display-3 mr-4">Yay!</h1>
          <h4 class="pt-3">You can now set up your new password!</h4>
          <form #formT (submit)="updatePassword($event)" 
                        class="needs-validation">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="icon-lock"></i></span>
              </div>
              <input #password type="password" class="form-control" placeholder="Password" autocomplete="new-password" required>
              <div class="valid-feedback">
                Password looks good!
              </div>
              <div class="invalid-feedback">
                Password is required!
              </div>
            </div>
            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="icon-lock"></i></span>
              </div>
              <input #rpassword type="password" class="form-control" placeholder="Repeat password" autocomplete="new-password" required>
              <div class="valid-feedback">
                Password looks good!
              </div>
              <div class="invalid-feedback">
                Passwords don't match!
              </div>
            </div>
            <button #sendButton type="submit" class="button btn btn-outline-primary">Confirm new password</button>            
          </form>
          <div>&nbsp;</div>
          <div #goToDash class="goToDash">
            <p class="text-muted">Click on the button below to go to your dashboard.</p>
            <button (click)="goToDashboard()" class="button btn btn-outline-primary">My Dashboard</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="temp == 'forgotPassword'" class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <button (click)="goToLogin()" class="btn btn-outline-primary"><i class="bi bi-arrow-left-circle"></i>&nbsp; Go back to login</button>
        <div>&nbsp;</div>
        <div class="clearfix">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-balloon-heart" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="m8 2.42-.717-.737c-1.13-1.161-3.243-.777-4.01.72-.35.685-.451 1.707.236 3.062C4.16 6.753 5.52 8.32 8 10.042c2.479-1.723 3.839-3.29 4.491-4.577.687-1.355.587-2.377.236-3.061-.767-1.498-2.88-1.882-4.01-.721L8 2.42Zm-.49 8.5c-10.78-7.44-3-13.155.359-10.063.045.041.089.084.132.129.043-.045.087-.088.132-.129 3.36-3.092 11.137 2.624.357 10.063l.235.468a.25.25 0 1 1-.448.224l-.008-.017c.008.11.02.202.037.29.054.27.161.488.419 1.003.288.578.235 1.15.076 1.629-.157.469-.422.867-.588 1.115l-.004.007a.25.25 0 1 1-.416-.278c.168-.252.4-.6.533-1.003.133-.396.163-.824-.049-1.246l-.013-.028c-.24-.48-.38-.758-.448-1.102a3.177 3.177 0 0 1-.052-.45l-.04.08a.25.25 0 1 1-.447-.224l.235-.468ZM6.013 2.06c-.649-.18-1.483.083-1.85.798-.131.258-.245.689-.08 1.335.063.244.414.198.487-.043.21-.697.627-1.447 1.359-1.692.217-.073.304-.337.084-.398Z"/>
          </svg>
          <h1 class="float-left display-3 mr-4">So sorry!</h1>
          <div>&nbsp;</div>
          <div>
            <h4>We'll get your account right back.</h4>
            <p>Type in the email address you used to create your account:</p>
            <form #formT (submit)="sendPasswordResetLink($event)" class="needs-validation" novalidate>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">@</span>
                </div>
                <input #email type="email" class="form-control" placeholder="Email" autocomplete="email" required>
                <div class="valid-feedback">
                  If this a registered email you'll receive a password reset link in your inbox.
                </div>
                <div class="invalid-feedback">
                  Email is required!
                </div>
              </div>
              <button #sendButton type="submit" class="button btn btn-outline-primary">Send reset link</button>            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

