<div #main class="main card">
    <h3 class="card-title"><strong>Customize this widget</strong></h3>
    <div class="settings-container">
        <div class="setting">
            <label>Coin:</label>
            <select (change)="setName()" class="form-select-sm" [(ngModel)]="this.name">
                <option *ngFor = "let o of this.options" >{{o.name}}</option>
            </select>
        </div>
        <div class="setting">
                <label>Border color:</label>
                <select (change)="setColor()" class="form-select-sm" [(ngModel)]="this.borderColor">
                    <option *ngFor = "let c of this.colors" [ngClass]="c.value">{{c.name}}</option>
                </select>
        </div>
    </div>
    <div class="decision">
        <a #discardBtn (click)="discardChanges()" class="btn btn-outline-danger">Discard changes</a>
        <a #changeBtn (click)="makeChanges()" class="btn btn-outline-warning">Save</a>
    </div>
</div>
