
.info-box {
    display: none;
    align-content: center;
    
    .alert {
        margin-top: 1rem;
        &-danger {
            display: none;
        }
        &-success {
            display: none;
        }
    }
}

header {
    display: flex;
    justify-content: right;
    
    a {
        position: absolute;
    }
}