<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form (submit)="createAccount()" novalidate>
                <h1>Register</h1>
                <p class="text-muted">Create your account</p>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input #username type="text" class="form-control" placeholder="Username" autocomplete="username" required>
                  <div class="valid-feedback">
                    Username looks good!
                  </div>
                  <div #invalidUsr class="invalid-feedback">
                    Username is required!
                  </div>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input #password type="password" class="form-control" placeholder="Password" autocomplete="new-password" required>
                  <div class="valid-feedback">
                    Password looks good!
                  </div>
                  <div class="invalid-feedback">
                    Password is required!
                  </div>
                </div>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input #rpassword type="password" class="form-control" placeholder="Repeat password" autocomplete="new-password" required>
                  <div class="valid-feedback">
                    Password looks good!
                  </div>
                  <div class="invalid-feedback">
                    Passwords don't match!
                  </div>
                </div>
                <button type="submit" class="btn btn-block btn-success">Create Account</button>
              </form>
            </div>
            <div #infoBox class="info-box card-footer p-4">
              <div #registeredS class="alert alert-success" role="alert">
                You have successfully registered.
              </div> 
              <div #registeredF class="alert alert-danger" role="alert">
                There was an error while trying to register you.
              </div>  
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
