#datePicker {
    display: none;
}

.spinner-border {
    position: absolute;
    align-self: center;
    margin-top: 12rem;
}

.popup {
    display: none;
    position: absolute;
    align-self: center;
    margin-top: 30%;
}