

#datePicker {
    display: none;
}

.spinner-border {
    position: absolute;
    align-self: center;
    margin-top: 12rem;
}

.popup {
    display: none;
    position: absolute;
    align-self: center;
    margin-top: 30%;
    z-index: 2;
}

.customPopup {
    position: absolute;
    align-self: center;
    padding-top: 4rem;
    display: none;
    justify-content: left;
    z-index: 2;
}
