
.dashContainer {

    gridster {
        height: calc(100vh - 600px);
    }

    .cdk-drag-animating {
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
      }

    #mySpinnerContainer {
        position: relative;
        display: flex;
        margin-top: 15%;
        justify-content: center;
        height: auto;
    }

    .buttonContainer {
        display: flex;
        margin-top: -1rem;
        margin-bottom: 0.5rem;
        gap: 2rem;

        .subBtnContainer1 {
            flex-grow: 4;
            display: none;
            justify-content: left;
        }

        .subBtnContainer2 {
            flex-grow: 8;
            display: flex;
            justify-content: right;

            .finish-btn {
                display: none;
            }
        }
    }

    .stockCharts {
        display: flex;
        flex-wrap: wrap;
    }

    
    .messEditAlert {
        display: none;
    }

    .connectionStatus {
        display: none;
    }
}