
<div class="animated fadeIn dashContainer">
    <div class="buttonContainer">
      <div #subBtnContainer1 class="subBtnContainer1">
        <button (click)="callWidgetBrowser()" class="btn btn-light btn-sm"><i class="bi bi-plus-circle-dotted"></i> &nbsp;Add new widget</button>
      </div>
      <div class="subBtnContainer2">
        <button #editBtn (click)="STARTeditDashInterface()" class="btn btn-outline-info btn-sm edit-btn"><i class="icon-settings"></i> &nbsp;Edit Dashboard</button>
        <button #finishBtn (click)="ENDeditDashInterface()" class="btn btn-success btn-sm finish-btn"><i class="bi bi-save"></i> &nbsp;Finish editing</button>
      </div>
    </div>
    <div #messEditMode class="alert alert-warning alert-dismissible fade show messEditAlert" role="alert">
      You're now in <strong>edit mode.</strong> You can always quit by clicking <strong>Finish editing.</strong>
      <button (click)="closeAlert('editMode')" type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div #connectionStatus class="alert alert-danger connectionStatus" role="alert">
      You're now offline. Changes are still getting synced, but there might be some missing. Dashboard will reload on reconnection.
    </div>
    <div #cryptoMessage class="alert alert-danger alert-dismissible fade show messEditAlert" role="alert">
      You can only add <strong>up to 4 charts </strong> of this type. Try customizing the existing ones.
      <button (click)="closeAlert('cryptoMessage')" type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div #stockMessage class="alert alert-danger alert-dismissible fade show messEditAlert" role="alert">
      You can only add <strong>up to 8 charts </strong> of this type. Try customizing the existing ones.
      <button (click)="closeAlert('stockMessage')" type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div #footMessage class="alert alert-danger alert-dismissible fade show messEditAlert" role="alert">
      You can only add <strong>up to 4 charts </strong> of this type. Try customizing the existing ones.
      <button (click)="closeAlert('footMessage')" type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div #spinnerContainer id="mySpinnerContainer" class="animated">
      <div class="spinner-border text-primary" style="width:10rem; height:10rem" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <!-- <div #template1 *ngIf="chosenTemplate == 'template1'">
      <div class="row">
        <div class="col-6">
          <ng-template cryptoCharts></ng-template>
          <div class="row">
            <div class="col-12" style="text-align: center;">
                <div class="card" style="display:flex; justify-content: center; height: 170px">
                  <i class="bi bi-box" style="font-size: 30px;"></i>
                  <h2>New widget here soon..</h2>
                </div>
            </div>
        </div>
        </div>
        <div class="col-6" style="justify-content: left; gap: 1rem;">
          <div class="row">
              <ng-template T2StockA></ng-template>
          </div>
          <div class="row">
            <ng-template T2StockB></ng-template>
          </div>
          <div class="row">
            <div class="col-12">
              <ng-template footballInfo></ng-template>
            </div>
          </div>
        </div>
      </div>
      </div> 
    <div #template2 *ngIf="chosenTemplate == 'template2'">
      <div class="row">
        <div class="col-6">
          <ng-template cryptoCharts></ng-template>
          <div class="row">
              <ng-template T2StockB></ng-template>
            </div>
        </div>
        <div class="col-6" style="justify-content: left; gap: 1rem;">
          <div class="row">
              <ng-template T2StockA></ng-template>
          </div>
          <div class="row">
              <ng-template footballInfo></ng-template>
          </div>
          <div class="row">
              <div class="col-12" style="text-align: center;">
                  <div class="card" style="display:flex; justify-content: center; height: 210px">
                    <i class="bi bi-box" style="font-size: 30px;"></i>
                    <h2>New widget here soon..</h2>
                  </div>
              </div>
          </div>
        </div>
      </div>
      </div>
      <div #template2 *ngIf="chosenTemplate == 'template3'">
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-6">
                <div class="row">
                  <ng-template T2StockA></ng-template>
                </div>
              </div>
              <div class="col-6">
                <div class="row">
                  <ng-template T2StockB></ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="row">
              <ng-template cryptoCharts></ng-template>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="row">
                    <ng-template footballInfo></ng-template>
            </div>
          </div>
        </div>
      </div> -->
      <div #template3 *ngIf="chosenTemplate == 'custom'">
        <div class="row">
          <ng-template stocksCharts></ng-template>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="row">
              <ng-template cryptoCharts></ng-template>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="row">
                    <ng-template footballInfo></ng-template>
            </div>
          </div>
        </div>
      </div>
</div>


