<div #main class="main card">
    <h3 class="card-title"><strong>Customize this widget</strong></h3>
    <div class="settings-container">
        <div class="setting">
            <label>Ticker:</label>
            <select class="form-select-sm" [(ngModel)]="name">
                <option *ngFor = "let o of options" >{{o.name}}</option>
            </select>
        </div>
        <div class="setting">
                <label>Border color:</label>
                <select class="form-select-sm" [(ngModel)]="bgcolor">
                    <option *ngFor = "let c of colors" [ngClass]="c.value">{{c.name}}</option>
                </select>
        </div>
        <div class="setting">
            <label>Chart type:</label>
            <select [(ngModel)]="type" class="form-select-sm">
                <option>line</option>
                <option>bar</option>
            </select>
        </div>
        <div class="setting">
            <label>Point radius: </label>
            <input type="number" class="form-control-sm" [(ngModel)]="pointRadius">
        </div>
    </div>
    <div class="decision">
        <a #discardBtn (click)="discardChanges()" class="btn btn-outline-danger">Discard changes</a>
        <a #changeBtn (click)="makeChanges()" class="btn btn-outline-warning">Save</a>
    </div>
</div>
