// Here you can add other styles
.emerald {
    background-color: #0CCE6B;
}

.indigo-dye {
    background-color: #0D3B66;
}

.citrine {
    background-color: #DACC3E;
}

.misty-rose {
    background-color: #EAD7D7;
}

.claret {
    background-color: #7D1538;
}
